{% extends 'base.html.twig' %}

{% block title %}Page d'accueil !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue à l’hôpital militaire de lubumbashi major camp Vangu</h1>
    <img src="{{ asset('/assets/img1.jpeg')}}" class="img-fluid mx-auto d-block" alt="Image">
</div>
{% endblock %}
