{% extends 'base.html.twig' %}

{% block title %}Edit Patient{% endblock %}

{% block body %}
    <h1>Modifier le patient</h1>

    <a class="btn btn-secondary" href="{{ path('app_patient_show', { 'id': patient.id}) }}">Detail du patient</a>
    <hr/>
    {{ include('patient/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
