{% extends 'base.html.twig' %}

{% block title %}Edit Doctor{% endblock %}

{% block body %}
    <h1>Modifier medecin</h1>

    {{ include('doctor/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
