{% extends 'base.html.twig' %}

{% block title %}Edit Appointment{% endblock %}

{% block body %}
    <h1>Modifier le rendez-vous</h1>

    {{ include('appointment/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
